body {
  margin: 0;
  background: #efeae7;
  font-family: "Inter", sans-serif;
}

/* APP SHELL */

.app-shell {
  max-width: 1440px;
  background: #ffffff;
  border-radius: 32px;
  margin: 32px auto;
  overflow: hidden;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.08);
}